/*paleta de colores*/

$color-fondos:#E9DCBE;

$color-titulos: black;

$color-footer: #D9CAB3;

$color-cards: #6D9886;

/*estilo de fuentes*/
$fuente-principal:Cambria;
$fuente-general:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$fuente-card-size:1.5rem, bolder,italic;

